table {
    font-size: small;
}

table .overflow-scroll {
    overflow-x: overlay;
}

thead {
    background: #868e96;
    color: white;
}

table .main-col {
    background: whitesmoke;
    border-left: solid 2px lightgray;
    border-right: solid 2px lightgray;
}